@page
@model EMBC.ESS.Areas.Evacuees.Pages.IndexModel

    <article>
        <h1>Profile</h1>
        <ul>
            <li>Name: <span>@Model.ProfileView.Name</span></li>
            <li>DoB: <span>@Model.ProfileView.DateOfBirth</span></li>
            <li>Address: <span>@Model.ProfileView.Address</span></li>
        </ul>
    </article>