@page
@model IndexModel

    <h1>Evacuees Portal</h1>
    <nav>
        <section>
            Click here to&nbsp;
            <a asp-page="Register">Register</a>
        </section>
        <section>
            Click here to&nbsp;
            <a asp-page="Login">Login</a>
        </section>
    </nav>