@page
@model IndexModel

<nav>
    <section>
        Click here to&nbsp;
        <a asp-page="Register">Register</a>
    </section>
    <section>
        Click here to&nbsp;
        <a asp-page="Login">Login</a>
    </section>
</nav>