@page "{id}"
@model ViewModel

<article>
    <h1>Profile</h1>
    <ul>
        <li>Name: <span>@Html.DisplayFor(m => m.Profile.Name)</span></li>
        <li>DoB: <span>@Html.DisplayFor(m => m.Profile.DateOfBirth)</span></li>
        <li>Address: <span>@Html.DisplayFor(m => m.Profile.Address)</span></li>
    </ul>
</article>