@page "{id}"
@model ViewModel

<article>
    <h1>Profile</h1>
    <ul>
        <li>Name: <span>@Html.DisplayFor(m => m.ProfileView.Name)</span></li>
        <li>DoB: <span>@Html.DisplayFor(m => m.ProfileView.DateOfBirth)</span></li>
        <li>Address: <span>@Html.DisplayFor(m => m.ProfileView.Address)</span></li>
        <li>BC Services card: <span>@Html.DisplayFor(m => m.ProfileView.Identity)</span></li>
    </ul>
</article>