:root {
    --c1: #0074d9;
    --c2: #eee;
    --c3: #fff;
    --c4: #000;
    --c5: #fff;
    --rc: 8px;
}

main, footer {
    margin: 0 auto;
    width: 60%;
    text-align: left;
    padding: 0 20px;
}

section > section {
    color: #fff;
    background-color: var(--c1);
    padding: 15px;
    margin: 10px 8px 10px 8px;
    text-align: center;
}

@media (max-width: 481px) {
    body {
        font-size: 18px
    }

    main, footer {
        width: 98%
    }

    section, article {
        flex: none;
        width: 100%;
        margin-left: 0;
    }
}

.field-validation-error {
    color: red;
    font-size: smaller;
}