@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section header
{
    <h1>ERA Supporters Portal</h1>
    <hr />
}

@section nav
{
    <a asp-page="Index">Search evacuees</a>
}

@section footer
{
    <hr />
    <p>bcgov 2020</p>
}

@RenderBody()